name: Test

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn --frozen-lockfile
    - run: yarn test
  all-jobs-pass:
    name: All jobs pass
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
    - run: echo "Great success!"
